Source: paperbark
Section: unknown
Priority: optional
Maintainer: Derek Dai <daiderek@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/derekdai/paperbark
#Vcs-Git: git://git.debian.org/collab-maint/paperbark.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/paperbark.git;a=summary

Package: paperbark
Architecture: all
Depends: lbzip2, ssh, zfs-linux (>=0.6.3-2~trusty), pv
Description: versioned rootfs manager
    a version rootfs manager based on zfs to ease image of rootfs spreading
